* {
  box-sizing: border-box;
}

svg g {
  fill: #6d819c;
}
svg g polygon {
  stroke: #263959;
  stroke-width: 0.2;
}
svg text {
  font-size: 0.3rem;
  fill: white;
  font-family: Arial, Helvetica, sans-serif;
}
.polygon {
  stroke: #263959;
  stroke-width: 0.2;
}

svg .tileDots {
  font-size: 0.2rem;
    fill: black;
}
svg .trading-value {
  font-family: sans-serif;
  font-size: 0.17rem;
    fill: white;

}
.port-resource {
      clip-path: circle(45%);
}
.board {
  background-color: #ea9220;
  max-width:  70vw;
  max-height: 80vh;

  svg {
    width: 100%;
    height: 100%;
  }
}

.controls {
  background-color: lightgoldenrodyellow;
  min-height: 3rem;
}

.points {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
}
.hand {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.resource-card {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px;
  border-style: solid;
  min-height: 12ch;
  width: 9ch;
  margin: 0.5rem;
  border-radius: 0.4rem;
  padding: 0.5ex;
  font-size: 1.5rem;
  background-color: lightgoldenrodyellow;
  // padding-top: 3ch;
  // padding-bottom: 3ch;
  // p {
  //   margin: 0;
  // }
  //  * {
  //    margin-top: 50%;
  //  }
}
.resource-card:hover{
    color:red;
    box-shadow: 0 0 5px -1px rgba(0,0,0,0.6);
    cursor: pointer;
}
.resource-card.disabled:hover{
    color:grey;
    cursor: unset;
}
.card-count {
  font-size: 0.7em;

}
@keyframes dash {
  from {
    stroke-dashoffset: 1;
  }
  to {
    stroke-dashoffset: 0;
  }
}